{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "import/no-cycle": "off",
    "no-unused-vars": "off",
    "prettier/prettier": ["off", { "singleQuote": true }],
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off"
  }
}
