{
    "extends": [
      "airbnb-base",
      "plugin:prettier/recommended"
    ],
    "env": {
      "es6": true,
      "browser": true
    },
      "rules": {
        "import/no-cycle": "off",
        "import/prefer-default-export": "off",
        "no-unused-vars": "off",
        "prettier/prettier": ["off", { "singleQuote": true }]
      }
  }