.menu {
  display: flex;
  flex: 0;
  justify-content: center;
  background-image: linear-gradient(
    90deg,
    var(--color-primary-0) 0%,
    var(--color-primary-2) 100%
  );
  font-size: 16px;
  width: 100vw;
  min-height: 35px;
  padding: 5px 0px;
}

.menuContent {
  font-family: Calibri, sans-serif;
  color: whitesmoke;
  font-size: 22px;
  color: var(--color-primary-0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  max-width: 1024px;
}

.navlink {
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}

.activeNavLink {
  transform: scale(1.3);
}

/* TABLET */
@media only screen and (max-width: 920px) {
  .menuContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    font-size: 14px;
    width: 90%;
  }
}

/* MOBILE */
@media only screen and (max-width: 480px) {
  .menuContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    font-size: 12px;
  }
}
