@import "../../../styles/globals.css";

.productViewCard {
  font-size: 18px;
}

.productViewCard hr {
  background-image: linear-gradient(
    90deg,
    transparent 0%,
    var(--color-primary-0) 50%,
    transparent 100%
  );
  border: 0;
  height: 2px;
  max-width: 250px;
}
